.cabecalho{
    width: 100%;
    background-color: #084B8A;
}

.cabecalho-conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#img-logo {
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
}
