.cabecalho-login {
    background-color: #fff;
    color: #084B8A;
    box-shadow: 0 1px 5px black;
    width: 100%;
    position: fixed;
    top: 0;
}

.pagina-login {
    background-color: #084B8A;
}

.login {
    background-color: #fff;
    width: 400px;
    margin: 4rem auto 10% auto;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 5px black;
}

.titulo-login {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

@media (min-width:0) and (max-width:768px) {
    .login {
        width: 80%;
    }
}
