.pagina-login {
    background-color: #084B8A;
}

.login {
    background-color: #fff;
    width: 40%;
    margin: 8% auto;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 5px black;
}

.titulo-login {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}