.produtos {
    background-color: #fff;
    padding: 0 0 2rem 0;
}

.lista-produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.produtos-titulo {
    color: #084B8A;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

.produto {
    width: 300px;
    margin: 1rem;
}

.nome-produto {
    font-size: 1.25rem;
    color: #084B8A;
}

.img-produto {
    width: 300px;
    height: 300px;
}

.img-produto:hover {
    box-shadow: 0 0 5px grey;
}

.preco-produto {
    font-size: 1rem;
    color: #084B8A;
    margin: 0.5rem 0 1rem 0;
}

.preco-produto:before {
    content: 'R$ ';
}

.descricao-produto {
    font-size: 0.85rem;
}

@media (min-width:0) and (max-width:768px) {
    .lista-produtos {
        flex-direction: column;
        align-items: center;
    }
    .produto {
        width: 80%;
    }
    .img-produto {
        width: 100%;
        height: 100%;
    }
}
