.cabecalho-admin {
    background-color: #fff;
    color: #084B8A;
    box-shadow: 0 1px 5px black;
    width: 100%;
    position: fixed;
    top: 0;
}

.titulo-admin {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

/*  */

.conteudo-admin {
    display: grid;
    grid-template-columns: 40% 60%;
}

.produtos-cadastrados {
    width: 90%;
    height: 400px;
    overflow-y: scroll;
    border-bottom: 10px solid #25415a;
    border-top: 10px solid #25415a;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 3px;
    margin: 2rem auto;
}

.lista-produtos-cadastrados__item {
    font-family: monospace;
    border-bottom: 1px solid gray;
}

.caracteristica-produto-cadastrado {
    font-weight: bold;
}

.produtos-cadastrados__titulo {
    background-color: #25415a;
    padding-bottom: 0.5rem;
    color: #fff;
}

/*  */

.pagina-admin {
    background-color: #084B8A;
    padding: 30px 0 0 0;
}

.caixa {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px black;
    padding: 1rem;
    margin: 2rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo-form-admin, .produtos-cadastrados__titulo {
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 2rem 0;
}

label {
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0.25rem 0;
}

input, textarea {
    width: 300px;
    margin: 0 0 1rem 0;
}

.add {
    background-color: darkgreen;
}

.update {
    background-color: darkgoldenrod;
}

.del {
    background-color: darkred;
}

.input-submit {
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}

.margin-bottom {
    margin-bottom: 4rem;
}

@media (min-width:0) and (max-width:768px) {
    .conteudo-admin {
        display: block;
    }

    .caixa, .produtos-cadastrados {
        width: 80%;
    }

    input, textarea {
        width: 200px;
    }
}
